<!-- page.about-us -->
<div class="main-content shop-page about-page">  
  {% section 'banner-top-about'%}
  {% section 'breadcrumb' %}
  {% section 'about-section-style2'%}
  {% section 'testimonials-section-home1'%}
  {% section 'text-column-with-image'%}
  {% section 'collection-list'%}  
  {% section 'benefit'%}
  {% section 'brand-list' %}
  
</div>
<script type="text/javascript">
  $(document).ready(function() {
 	
  })
</script>